.container
  %h1= @offering.actionable_name
  = link_to "Book now", new_booking_path(:offering => @offering), :class => 'btn btn-primary btn-lg'
  = sanitize @offering.description
  = link_to "Book now", new_booking_path(:offering => @offering), :class => 'btn btn-primary btn-lg'
