.wrapped(style="text-align: center; ")
  = image_tag 'logo.png', :style => 'width: 30%;margin-top:30px;'
  %h1(style="font-size:80px") Bass Music Tokyo
  %h2(style="font-size:22px") We bring the bass.
