.section.landing_head
  .wrapped
    .big THE GOOD VIBES
    .small Hire the artists you really love
.section.landing_search
  .wrapped
    .seach_box<
      %span.part.first> I'm looking for
      %select.part.select2.category(name="category")= options_from_collection_for_select(Category.all, :id, :name)
      %span.part.event> for an event on
      %input.part.daterangepicker
      %button Search
.wrapped.featured_head
  %h1 A TRACK RECORD OF AWESOME
