.wrapped.head_section(style="text-align: center; ")
  %h1(style="font-size:80px") WE'VE GOT THE GOOD VIBES
  %h2(style="font-size:22px") Work with the artists you really love
.section.search_section
  .wrapped
    .seach_box<
      %span.part.first> I'm looking for
      %select.part.select2.category(name="category")= options_from_collection_for_select(Category.all, :id, :name)
      %span.part.last> for an event on
      %button Search
