.section.landing_head
  .container
    .big THE GOOD VIBES
    .small Hire the artists you really love
  .search_box
    .container<
      %span.part.first> I'm looking for
      %select.part.select2.category(name="category" data-search="false")= options_from_collection_for_select(Category.all, :id, :name)
      %span.part.event> for an event on
      %input.part.datepicker>
      %button Search
.section.featured_head
  .container
    %h1 A TRACK RECORD OF AWESOME
    %h2 Featured acts available for booking in Tokyo
    .row
      - @performers.each do |performance|
        .col-sm-6
          .embed-responsive.embed-responsive-4by3
            .offering.embed-responsive-item{:style => "background-image: url(#{performance.image&.thumb('400x300')&.url})"}
              .name
                %i.fa.fa-star
                = performance.actionable_name

.section.partners
  .container
    %h1 UPCOMING IN TOKYO
    %h2 Events powered by New Sound For Japan
