.container
  %h1= t 'Contact'
  %p 
    You can reach out to us at any time via email to #{mail_to 'team@audissey.fm'}.
    We do our best to respond within a few hours.
    Or see below for other ways to contact us.
  
  %h3 Contact Form
  %h3 Head Office
  %pre= t '.address'
    
    
  
