.container
  %h1= t 'Jobs'
  %p
    We are still in the early stages. But if you like what we do and want to join
    our team early on, send a sweet cover letter and resume to #{mail_to 'team@audissey.fm'}.
    
