.container
  %h1= t 'Services'
  %h2 For Agencies 
  %p
    We can help you promote your artists to a world wide audience. Currently we
    are specialized on Japan and the US, but we aim to expand to more countries
    soon. Please #{link_to 'reach out to us', page_path('contact')} if you are
    interested in working with us.
  %h2 For Venues
  %p 
    You can list your venue on our platform and we will help you fill it with
    the kind of crowd you really want. #{link_to 'Sign up now', new_user_registration_path}
    to get started.
  
    

    
    
  
