.container
  %h1= t 'Team'
  %p After the initial inception in 2015, the project went under in a sea of misunderstanding. But now we are back for good and here to change the world.
  %h3 Gee Daigo Kawai
  %p CEO
  %h3 Stefan Buhrmester
  %p Software Developer
    
    
