.container
  %h1= t 'Team'
  %p The team behind this project.
  %h3 Gee Daigo Kawai
  %p Project Inception, Hustler.
  %h3 Stefan Buhrmester
  %p Software Engineering
  %h3 Nic Padula
  %p Design
  %h3 Ronny Gallagos
  %p Music, Public Relations
    
    
