.section.dashboard
  .container
    - if current_user.offerings.any?
      .offerings
        %h3 Offerings:
        - current_user.offerings.each do |offering|
          = offering.actionable_name
          = link_to edit_offering_path(offering) do
            %i.fa.fa-edit
    - else
      %h1 Pending
      %p You have 0 pending bookings
