// VENDOR STUFF
@import "redactor";
@import "select2.min";
@import "daterangepicker";
@import "bootstrap-sprockets";
@import "bootstrap";

// OUR STUFF
@import "globals";
@import "sections";
@import "offerings";
@import "bookings";

.category-icon.performer:before {
  content: "\f001";
  font-family: FontAwesome;
}
.category-icon.venue:before {
  content: "\f286";
  font-family: FontAwesome;
}
.category-icon.organizer:before {
  content: "\f274";
  font-family: FontAwesome;
}

.offering {
  background-color: #DDD;
  background-size: cover;
  background-position: center;
  .name {
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
  }
}

.navbar.navbar-default {
  margin-bottom: 0;
}
