// VENDOR STUFF
@import "redactor";
@import "select2.min";
@import "daterangepicker";
@import "bootstrap-sprockets";
@import "bootstrap";

// OUR STUFF
@import "globals";
@import "sections";

.category {
  span {
    display: block;
  }
  span.performer:before {
    content: "\f001";
    font-family: FontAwesome;
  }
  span.venue:before {
    content: "\f286";
    font-family: FontAwesome;
  }
  span.organizer:before {
    content: "\f274";
    font-family: FontAwesome;
  }
}

.offering {
  background-color: #DDD;

  .name {
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
  }
}
