@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);

html {
  color: #2B2B2E;
  height: 100%;
}

body {
  font-size: 18px;
  min-height: 100%;
  position: relative;
  background-color: white;
  overflow-y: scroll;
}

.navbar {
  .logo_inverted {
    display: none;
  }
}

body.visitors.landing .navbar {
  z-index:1;
  border: none;
  background: none;
  .logo_normal {
    display: none;
  }
  .logo_inverted {
    display: block;
  }
  a {
    color: white;
  }
}

a {
  color: #08B5E5;
}
a:hover {
  background: #08B5E5;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

form .error {
  padding: 0px 4px;
  background: white;
  border: none;
  width: 100%;
  font-size: 14px;
  color: red;
}

.right {
  float: right;
}


.notice {
  background-color: #F3F08B;
  padding: 5px 8px;
  border-top: 1px solid #CCCA89;
  border-bottom: 1px solid #CCCA89;
}

.hidden {
  display: none;
}

// .row{
//     overflow: hidden;
// }
//
// [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }

.nav-col {
  border-right: 1px solid #ddd;
  // background: #EEE;

}

.nav-col ~ .col-sm-8 {
  margin-left: -1px;
  border-left: 1px solid #ddd;
}

.navbar-brand {
  img { width: 120px; }
}

.second_nav {
  background-color: #66666F;
  padding: 10px 0;
  color: white;
  margin-top: -20px;
  margin-bottom: 20px;
}

#content {
  padding-bottom: 500px;
}

#footer {
  padding-top: 30px;
  background: white;
  height: 405px;
  box-shadow: 0 10px 20px -10px black inset;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #66666F;
  color: #EEE;
  .logo img {
    width: 100%;
  }
  .settings {
    // text-align: center;
    padding-bottom: 30px;
    .dropdown {
      display: inline-block;
      .btn-primary {
        font-size: 16px;
        background-color: #4F4E54;
        border-color: #39383A;
      }
    }
  }
  .copyright {
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
    background-color: #39383A;
    color: #AAA;
  }
  .links {
    padding: 30px 0;
    background-color: #4F4E54;

  }
}

.actions {
  // margin-top: 10px;
  border-top: 1px solid #DDD;
  padding-top: 16px;
  text-align: center;
}
.radio .big_option {
  border: 1px solid #DDD;
  width: 100%;
  padding: 8px 12px 8px 30px;
}
