.offering_hero {
  position: relative;
  .video_button {
    position: absolute;
    bottom: 164px;
    width: 100%;
    text-align: center;
    font-size: 120px;
    i.fa {
      text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      color: #FFF;
      cursor: pointer;
      &:hover {
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
        color: #DDD;
      }
    }
  }
  .video_iframe {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 100px;
    text-align: center;
    iframe {
      box-shadow: 0 0 40px 3px rgba(0,0,0,0.5);
      width: 640px;
      height: 360px;
    }
    .box {
      display: inline-block;
    }
  }
  .superhero {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .hero_name {
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    transition: 0.3s;
    &.small {
      bottom: 20px;
      font-size: 40px;
    }
  }
}
.offering_detail {
  margin-top: 40px;
  .user_info {
    background: #F7F7F7;
    padding: 15px;
    border: 1px solid #DDD;
    .profile_circle {
      float: left;
      border-radius: 52px;
      // width: 104px;
      // height: 104px;
      position: relative;
      top: -30px;
      padding: 2px;
      box-shadow: 0 0 2px rgba(0,0,0,0.4);
      img {
        border-radius: 50px;
        
      }
    }
    .name {
      font-size: 30px;
      margin-left: 120px;
    }
    .user {
      margin-left: 120px;
    }
  }
  .description, #lightgallery {
    border: 1px solid #DDD;
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 20px;
  }
  .booking_col {
    position: relative;
  }
  .booking_area {
    width: 100%;
    position: relative;
  }
  .booking_box {
    border: 1px solid #DDD;
    background-color: #F7F7F7;
    .pricing {
      padding: 15px;
      background: #66666F;
      color: white;
    }
    .availability {
      padding: 15px;
      padding-bottom: 0px;
    }
    .more_information {
      cursor: pointer;
      padding-bottom: 15px;
    }
    .more_fields {
      display: none;
    }
    .action {
      padding: 15px;
      padding-top: 0px;
      .btn {
        width: 100%;
      }
    }
  }
  .problems {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    a { color: #888; }
  }
}
