.offering_hero {
  position: relative;
  .superhero {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .hero_name {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
}
.offering_detail {
  margin-top: 40px;
  .booking_col {
    position: relative;
  }
  .booking_area {
    width: 100%;
    position: relative;
  }
  .booking_box {
    border: 1px solid #DDD;
    background-color: #F7F7F7;
    .pricing {
      padding: 15px;
      background: #66666F;
      color: white;
    }
    .availability {
      padding: 15px;
      padding-bottom: 0px;
    }
    .action {
      padding: 15px;
      padding-top: 0px;
      .btn {
        width: 100%;
      }
    }
  }
  .problems {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    a { color: #888; }
  }
}
